<div class="container bg-warning py-1">
	<a norefferer noopener target="_blank" class="text text-dark p-2"
		href="https://github.com/3ddelano/hms/issues">[WIP] To report a bug / suggestion Click Here <i
			class="fa fa-external-link-alt" aria-hidden="true"></i></a>
</div>
<nav class="navbar navbar-expand-md navbar-light bg-light p-2">
	<a class="navbar-brand" href="/"><i class="fa fa-hospital-o" aria-hidden="true"></i> Hospital Management
		System</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="mainNav">
		<ul class="navbar-nav w-100 d-flex justify-content-between">
			<div class="d-md-flex">
				<li class="nav-item">
					<a class="nav-link" style="text-align: right;" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" style="text-align: right;" href="/doctor">Doctor Dashboard</a>
				</li>
			</div>
			<div class="d-md-flex">
				<% if (user) { %>
					<li class="nav-item justify-self-end">
						<a class="nav-link text-end" href="<%= (locals.doctor) ? '/doctor/logout' : '/logout'%>">Logout</a>
					</li>
				<% } else { %>
					<% if (locals.hideSignup && hideSignup) {} else { %>
						<li class="nav-item justify-self-end">
							<a class="nav-link text-end" href="/signup">Sign up</a>
						</li>
					<% } %>
					<li class="nav-item justify-self-end">
						<a class="nav-link text-end" href="<%= (locals.doctor) ? '/doctor/login' : '/login'%>">Login</a>
					</li>
				<% } %>
					
			</div>
		</ul>
	</div>

</nav>
<nav class="my-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<%
            pathArray = path.split("/").slice(1);
            pathArray = pathArray.map(p=> {
              return p.toProperCase();
            });
            let builtPath = "";
            for(let i = 0; i < pathArray.length; i++) {
              builtPath += "/"+path.split("/").slice(1)[i];  %>
          		<li class="breadcrumb-item<% if((i+1) === pathArray.length) {%> active"><%= pathArray[i] %><% } else { %>"><a href="<%= builtPath %>"><%= pathArray[i] %></a><% } %></li>
          	<% } %>
        </ol>
</nav>