<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../../partials/header'); %>
	</header>

	<%- include('../../partials/alert');%>

		<div class="modal fade" tabindex="-1" id="confirmcancelappointment">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Cancel Appointment</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>Are you sure you want to cancel the appointment?</p>
					</div>
					<div class="modal-footer">
						<a type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</a>
						<a id="confirmcancel" type="button" href="#" class="btn btn-primary"
							onclick="confirmedCancel()">Yes</a>
					</div>
				</div>
			</div>
		</div>

		<main>
			<div class="col py-3 mb-5">
				<h1 class="">My Appointments</h1>
				<% if (locals.appointments && appointments.length> 0 ) { %>
				<div class="table-responsive">
				<table class="table table-bordered text-center">
				<thead>
					<tr class="table-dark">
						<th scope="col">Date</th>
						<th scope="col">Time</th>
						<th scope="col">Status</th>
						<th scope="col">Reason</th>
						<th scope="col">Doctor</th>
						<th scope="col">Action</th>
					</tr>
				</thead>
				<tbody>
					<% 
					appointments.forEach(appointment=> {
						appointment.date = new Date(Date.parse(appointment.date));
					});
					appointments = appointments.sort((a,b)=> a.date - b.date);
					appointments.forEach(appointment => {
						let date = appointment.date.toLocaleDateString('en-IN', {timezone: 'Asia/Kolkata'});
						let time = appointment.date.toLocaleTimeString('en-IN', {timeZone: 'Asia/Kolkata', hour: 'numeric', minute: 'numeric'});
						let status = appointment.status;
						let reason = appointment.reason;
						let doctor = doctors.find(d=>d.id==appointment.doctor_id);
					%>
						<tr>
							<th scope="row"><%= date %></th>
							<td><%= time %></td>
							<%- include("../../partials/status", {status }); %>
							<td><%= reason %></td>
							<td><%= doctor.full_name %></td>
							<td>
								<% if (status != "COMPLETED") { %>
									<a type="button" onclick="cancelAppointment(<%=appointment.id%>)"><i class="fas fa-times text-danger fa-lg"></i></a>
								<% } %>
							</td>
						</tr>
							
					<%});%>
				</tbody></table></div>
			<% } else { %>
				<p class="lead p-2">No appointments made.</p>
			<% } %>
			<a href="/makeappointment" class="btn btn-primary m-2 text-start mt-3"><i class="fa fa-plus" aria-hidden="true"></i> Make Appointment</a>
		</div>
	</main>

	<%- include('../../partials/footer'); %>
	<script>
		function cancelAppointment(id) {
			let confirmModal = new bootstrap.Modal(document.getElementById('confirmcancelappointment'));

			let cofirmButton = document.getElementById("confirmcancel");
			cofirmButton.setAttribute("onclick", `confirmedCancel(${id})`);
			confirmModal.show();
		}

		function confirmedCancel(id) {
			const form = document.createElement('form');
			form.method = "POST";
			form.action = "/cancelappointment";
			const field = document.createElement('input');
			field.name = "id";
			field.value = id;
			form.appendChild(field);
			document.body.appendChild(form);
			form.submit();
		}
	</script>
</body>

</html>