<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body class="container">

	<header>
		<%- include('../partials/header'); %>
	</header>
	<!-- Modal -->
	<div class="modal fade" id="messageModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="messageModalTitle">Modal title</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p id="messageModalText"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Got it</button>
				</div>
			</div>
		</div>
	</div>
	<main>
		<div class="jumbotron py-5 my-5">
			<h1>Welcome to City Hospital</h1>
			<h5 class="text lead">The following are the patient services available.</h5>
			<!-- <div class="btn-group mt-3">
                <a href="/signup" class="btn btn-primary m-2">Sign Up <i class="fa fa-user-plus"
                        aria-hidden="true"></i></a>
                <a href="/login" class="btn btn-outline-primary m-2">Login <i class="fa fa-sign-in"
                        aria-hidden="true"></i></a>
            </div> -->
			<% if (locals.user && user.fullname) { %>
                <h6 class="mt-5">Logged In As: <%= user.fullname%>
                </h6>
                <% } %>
                    <h3 class="mt-4">Services</h3>
                    <div class="btn-group-vertical">
                        <a href="/makeappointment" class="btn btn-primary m-2 text-start"><i class="fa fa-plus"
                                aria-hidden="true"></i>
                            Make Appointment</a>
                        <a href="/viewappointments" class="btn btn-primary m-2 text-start"><i class="fa fa-eye"
                                aria-hidden="true"></i>
                            View My
                            Appointments</a>
                        <a href="/viewdoctors" class="btn btn-primary m-2 text-start"><i class="fas fa-eye"></i>
                            View Doctors</a>
                    </div>
        </div>
    </main>

    <%- include('../partials/footer'); %>
        <script>

            <% if (messages.error || locals.message) { %>
				$(document).ready(() => {

					let title = $("#messageModalTitle");
					let text = $("#messageModalText");

					title.removeClass('text-danger');
					title.removeClass('text-success');
					title.removeClass('text-warning');
                    <% if (!message) {%>
						title.addClass('text-danger');
						title.text("Login Error");
						text.text("<%=messages.error%>");
                    <% } else { %>
						title.addClass('text-<%=message.type%>');
						title.text("<%=message.title%>");
						text.text("<%=message.text%>");
                    <% } %>

						let messageModal = new bootstrap.Modal(document.getElementById('messageModal'));
					messageModal.show();

				});
            <% } %>

		</script>
</body>

</html>